<!-- About Section -->
<section id="experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Experience</h2>
        <h3 class="section-subheading text-muted">My journey thus far in Engineering, Software Development and AI/ML.</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a data-toggle="tab" href="#professional">Professional</a></li>
      <li><a data-toggle="tab" href="#academia">Academia</a></li>
    </ul>
    <div class="tab-content">
      <div id="professional" class="tab-pane fade in active">
        <br><br><br>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">

              <!-- Start of Experience -->
              <!-- LTA  -->
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>August 2019</h4>
                    <h4 class="subheading">Land Transport Authority (Singapore)<br>Project Engineer<br>(Power Supply)</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Manage power supply asset renewal and upgrading projects on the North-South and East-West line.</p>
                  </div>
                </div>
              </li>
              <!-- Deloitte  -->
              <li class="timeline">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>May 2019</h4>
                    <h4 class="subheading">Deloitte<br>Technology Consulting Intern<br>(Technology, Strategy & Transformation)</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Formulated strategies and tools to establish technical credibility, drive business value and Maximise ROI on tech investments.</p>
                  </div>
                </div>
              </li>
              <!-- DBS  -->
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>November 2018</h4>
                    <h4 class="subheading">DBS Bank<br>Governance & Controls Intern<br>(Institutional Banking Group SG COO Office)</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Engaged partners in Legal Compliance & Secretariat, Risk Management Group, Audit, IBG Ops and Group COO on various risk management projects.</p>
                  </div>
                </div>
              </li>
              <!-- CAG2  -->
              <li>
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>May 2018</h4>
                    <h4 class="subheading">Changi Airport Group<br>System Interface Intern<br>(Runway 3)</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Conducted reasearch and feasibility analysis study of operating FAA's Runway Status Lights (RWSL) at Singapore Changi Airport.</p>
                  </div>
                </div>
              </li>
              <!-- CAG1  -->
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>June 2017</h4>
                    <h4 class="subheading">Changi Airport group<br>Control & Communication Intern<br>(Airfield Systems)</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Maintenance Operations and Project Management of Airfield Ground Lighting Control Monitoring System (AGLCMS)</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="academia" class="tab-pane fade ">
        <br><br><br>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">

              <!-- Start of Experience -->
              <!-- Coursera  -->
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>July 2018</h4>
                    <h4 class="subheading">Coursera<br>Community Mentor<br>(Data Science)</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Guide and assist learners through challenges experienced in modules by Deeplearning.ai, Johns Hopkins University and IBM</p>
                  </div>
                </div>
              </li>
              <!-- NUS  -->
              <li class="timeline">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>June 2018</h4>
                    <h4 class="subheading">National University of Singapore<br>Deep Learning & Neural Networks Research<br>(B.Eng Dissertation)</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Led a team in a industry-partnered research project for an MNC developing state-of-the-art deep learning models in an Agile environment.</p>
                  </div>
                </div>
              </li>
              <!-- CAG2  -->
              <!-- Dronelive  -->
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>August 2016</h4>
                    <h4 class="subheading">DroneLive@Utown<br>Manpower Director</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Organised the inaugural drone fair in NUS with workshops and exhibitions by various institutions, and global organisations.</p>
                  </div>
                </div>
              </li>
              <!-- RC4SPACE  -->
              <li class="timeline">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/about/0.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>September 2015</h4>
                    <h4 class="subheading">RC4SPACE<br>Co-Founder</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Founded a Makerspace organisation providing a platform to share supplies, skills, ideas, and work together on projects.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
        </div>
      </div>
  </section>
